:root {
    --size: 8px;
  }
  
  @media screen and (max-width: 599px) {
    :root {
      --size: 6px;
    }
  }
  
  html,
  body {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  
  * {
    box-sizing: border-box;
    margin: 0px;
  }
  
  /* BUTTON */
  
  button,
  .btn {
    padding: 8px 12px;
    padding: calc(var(--size) * 1) calc(var(--size) * 1.5);
    outline: none;
    border: none;
    text-align: center;
    text-decoration: none;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--on-primary);
    margin: 10px 10px 10px 0;
    margin: calc(var(--size)) calc(var(--size)) calc(var(--size)) 0;
    cursor: pointer;
  }
  
  .btn-outlined {
    background: transparent;
    color: var(--font-color);
    border: 2px solid var(--primary-color);
  }
  
  .btn-secondary {
    color: var(--on-secondary);
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
  }
  
  .btn-outlined.btn-secondary {
    color: var(--font-color);
    background: transparent;
    border: 2px solid var(--secondary-color);
  }
  
  .btn-sm {
    padding: 4px 8px;
    padding: calc(var(--size) * 0.5) calc(var(--size) * 1);
  }
  
  .btn-lg {
    padding: 12px 16px;
    padding: calc(var(--size) * 1.5) calc(var(--size) * 2);
  }
  
  .btn-fullwidth {
    width: 100%;
    text-align: center;
  }
  
  .icon-btn {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    margin: 0;
    color: var(--font-color);
  }
  
  .icon-btn:active {
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
  
  .darkMode .icon-btn:active {
    background: rgba(255, 255, 255, 0.2);
    opacity: 1;
  }
  
  @media (hover: hover) {
    button:hover {
      opacity: 0.84;
    }
  
    button:disabled:hover {
      opacity: 1;
    }
  
    /* .icon-btn:hover {
      background: rgba(0, 0, 0, 0.1);
      opacity: 1;
    } */
  
    .darkMode .icon-btn:hover {
      background: rgba(255, 255, 255, 0.1);
      opacity: 1;
    }
  }
  
  button:active {
    opacity: 0.92;
  }
  
  .btn-outlined:active {
    background: var(--primary-color);
    color: var(--on-primary);
    opacity: 1;
  }
  
  .btn-outlined.btn-secondary:active {
    background: var(--secondary-color);
  }
  
  button:disabled {
    background: rgba(0, 0, 0, 0.2);
    border-color: transparent;
    color: var(--hinted-font-color);
    cursor: no-drop;
  }
  
  .darkMode button:disabled {
    background: rgba(255, 255, 255, 0.1);
    border-color: transparent;
    color: var(--hinted-font-color);
  }
  
  .container {
    padding: 24px;
    padding: calc(var(--size) * 3);
    max-width: 1220px;
    margin: 0 auto;
  }
  
  .hidden-desktop {
    display: none;
  }

  .MuiAccordionSummary-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
  }
  
#itemCardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 21px;
    column-gap: 21px;
    align-items: center;
    max-width: 700px;
    padding: 5px;
    margin: 0 auto;
}

#itemCardsContainer .card{
    background-color: #ffffff;
    padding: 0px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 10%);
    transition: box-shadow 500ms ease;
}

.mealsOuterContainer{
    z-index: 0;
    background:white;
    position: relative;
}
#cart-page {
  margin-top: 100px;
  padding: 40px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: -7rem;
}
.page-container {
  margin: auto;
  max-width: 1100px;
}
.icon-btn {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  margin: 0;
  color: var(--font-color);
}

#checkout-page {
  display: flex;
  margin-top: 120px;
}

#checkout-page > .hidden-mobile {
  margin-top: 30px;
}


.icon-btn:active {
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.MuiSwitch-colorSecondary.Mui-checked{
  color: var(--primary-color) !important;
}
.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track{
  background-color: var(--primary-color) !important;
}

@media screen and (max-width: 600px) {
  
    .hidden-desktop {
      display: block;
    }
  
    .hidden-mobile {
      display: none;
    }
    .smallcart-container{
      padding: 10px;
      margin-left: 12rem;
    }
    #cart-page {
      display: block;
      margin-top: 50px;
      padding: 10px;
      margin-left: -12rem;
    }
    #cart-page .big-cart-container {
      display: none;
    }
    .page-container {
      margin-left: 0px;
      margin-right: 0px;
    }
    #checkout-page {
      margin-top: 50px;
    }
  
}